*.jpg
*.png
### 2020”N2ŒŽ6“ú10:46:18
*.m4a

### 2018/09/19 09:22:50
*.mov
*.mp3

### 2019/10/26 07:58:59
iphone_to_upload/
iphone_upload_done/
movies_WS_Cake_IFM11/
photo-for-records/
storage_WS_Cake_IFM11/
tmp.20180901_111032/
tmp.mov-files/
directory_list.*.txt

### 2020”N2ŒŽ6“ú10:47:31
voice-memos/*/*.m4a


### ============ EOF ============