################################
### extenstions : 2022年2月7日10:00:37
################################
*.jpg
*.png
### 2020年2月6日10:46:18
*.m4a

### 2018/09/19 09:22:50
*.mov
*.mp3
### 2020年4月11日11:00:49
*.mp4

### 2020年5月16日10:39:15
*.mid

###2022年2月7日10:01:03
*.avi


################################
### paths : 2022年2月7日10:00:37
################################

### 2019/10/26 07:58:59
iphone_to_upload/
iphone_upload_done/
movies_WS_Cake_IFM11/
photo-for-records/
storage_WS_Cake_IFM11/
tmp.20180901_111032/
tmp.mov-files/
directory_list.*.txt

### 2020年2月6日10:47:31
voice-memos/*/*.m4a

### ============ EOF ============